@media screen and(min-width: 656px) {
    .contact {
        padding: 0;
        height: 100%;
        min-height: 700px;
        flex-direction: row;

        &__container {
            margin: 0;
            width: 50%;
            height: 100%;

            &--right{
                display: flex;
                background-color: $test;
            }

        }
        &__ilustration {
            width: 90%;
        }
    }
}