@media screen and(min-width: 1200px) {
    .contact {
        padding: 9em 9em 0;
        align-items: flex-start;

        &__text {
            font-size: 1.9rem;
        }

        &__btn {
            align-self: flex-start;
            width: 30%;
        }

        &__main-container{
            margin-top: 2em;
            display: flex;
            width: 100%;
        }
        &__container {
            padding: 1em;

            &--left {
                align-items: flex-start;
                justify-content: flex-start;
                width: 60%;
            }

            &--right{
                display: flex;
                justify-content: center;
                width: 40%;
            }

        }

        &__form {
            align-self: flex-start;

            &__box {
                width: 75%;
            }
        }

        &__svg {
           width: 60%; 

           #paper {
               animation: upDown infinite 3s;
               filter: drop-shadow(11px 4px 3px rgba(0, 0, 0, 0.25));
           }
        }
    }
}

@media screen and(min-width: 1600px) {
    .contact {

        &__heading {
            font-size: 6rem;
        }

        &__text {
            font-size: 2.1rem;
        }

        &__form {
            &__box {
                width: 100%;
            }
        }

        &__container--left {
            width: 50%;
        }

        &__container--right {
            width: 50%;
        }

        &__btn {
            width: 40%;
        }

        &__svg {
            width: 40%; 
        }
    }
}