.about {
    padding-top: 9em;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: $creame;
    background-color: $bgc-color;
    pointer-events: none;
    overflow: hidden;

    .canvas-about{
        width: 100%;
    }

    &__content {
        padding: 1em 2em;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__info {
            margin: 1.3em 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text-info {
                font-size: 1.6rem;
                width: 60%;
                color: rgb(150, 150, 150);
            }
        }

        &__portret {
            position: relative;
            width: 100px;
            height: 100px;

            .img {
                position: absolute;
                top: 5px;
                left: 10px;
                width: 100%;
                border-radius: 50%;
                z-index: 2;
            }
            .border {
                position: absolute;
                top: -10px;
                left: -10px;
                content: '';
                width: 100%;
                height: 100%;
                border: 3px solid $cyan;
                border-radius: 50%;
                background-color: transparent;
                z-index: 1;
            }
        }
       
        &__heading {
            position: relative;
            font-size: 4.3rem;

            &::before {
                position: absolute;
                top: 40%;
                right: -80px;
                content: '';
                width: 70px;
                height: 2px;
                background-color: $creame;
            }

            &::after{
                position: absolute;
                top: 40%;
                left: -80px;
                content: '';
                width: 70px;
                height: 2px;
                background-color: $creame;
            }
        }

        &__text {
            margin: 0.6em 0;
            letter-spacing: 0.5px;
            font-size: 1.8rem;
        }
    }
}