$grey: rgb(48, 48, 48);
$grey-darker: rgb(25, 26, 29);
$cyan: #00c9c8;
$cyan-power: #21ceda;
$cyan-lighter: #bffcf9;
$green: rgb(71, 129, 127);
$green-20: rgba(71, 129, 127, 0.2);
$creame: #d8e2e0;

$alpha-gradient-top: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
$alpha-gradient-bot: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);