$grey: rgb(48, 48, 48);
$bgc-color: rgb(11, 21, 35);
$grey-darker: rgb(25, 26, 29);
$darkBlue: rgb(28, 36, 49);
$test: #13243C;

$cyan: #00c9c8;
$cyan-power: #00e3ff;
$cyan-lighter: #bffcf9;
$green: rgb(71, 129, 127);
$green-light: rgb(0, 255, 0);
$creame: #d8e2e0;
$paragraf-color: rgb(180, 180, 180);

$alpha-gradient-top: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
$alpha-gradient-bot: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
$cyan-gradient: linear-gradient(90deg, rgb(0, 201, 200) 40%, rgb(33, 206, 218) 100%);