@media screen and (min-width: 656px) {
    .header-column2 {
        .header-content {
            .header-heading {
                font-size: 4.9rem;
            }

            .header-description {
                font-size: 2rem;
            }

            .header-btn {
                padding: 0.7em 2.2em;
            }

        }

    }
}